.loader__container{
    display: grid;
    place-items: center;
   
    width: 100vw;
    height: 100vh;
}
.loader{
    width: 260px;
    height: 260px;
    border-bottom: 8px solid rgba(0,0,0,0.8);
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
@keyframes spin{
    from{
        transform: rotate(-360deg);
    }
}