.product__list__container{
  
}
.product__list__container > h3{
    text-align: center;
    margin: 20px auto;
    box-shadow: 2px 2px -4px rgba(0,0,0,0.4);
    padding: 20px;
    background-color:tomato;
    width: 20%;
}
.right__side__bar{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 40px;
    margin-left: 100px;
    
}
.notfount__text{
    text-align: center;
}