.card__product{
    width: 300px;
    height: auto;
    margin: 20px;
    background:#fff;
    text-align: flex-start;
    box-shadow: 5px 5px 4px  2px grey(0,0,0,0.7);
    cursor: pointer;
     /* background-color:rgba(0,0,0,0.2); */
    text-decoration: none;
    border: 1px solid grey;
    transition: 0.5s;
    border-radius: 5px;
    
}

.card__product:hover{
    transform: scale(1.1);
}
.card__product >img{
   /* object-fit: contain; */
   width: 270px;
   height: 500px;
  
    
}

.price__tag{
    color: #8bbe1b;
    font-size: 30px;
    font-weight: 500;
}

.rating{
    width: 40px !important;
    height: 40px !important;
}